.sort-bar__wrapper {
  display: flex;
  align-items: flex-start;
}

.sort-bar__select {
  font-size: 18px;

  cursor: pointer;
}

.sort-bar__sort-btn {
  margin-left: 1rem;

  font-size: 18px;

  background-color: #2081e2;
}

.sort-bar__sort-btn:hover {
  color: #2081e2;
  background-color: #ffffff;
}

.sort-bar__reset-btn {
  margin-left: 1rem;

  font-size: 18px;

  background-color: #b30540;
}

.sort-bar__reset-btn:hover {
  color: #b30540;
  background-color: #ffffff;
}

@media (max-width: 450px) {
  .sort-bar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .sort-bar__sort-btn {
    margin-top: 15px;
    margin-left: 0;
  }

  .sort-bar__reset-btn {
    margin-top: 15px;
    margin-left: 0;
  }
}
