.card__comments {
  max-height: 260px;
}

.comment {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0,.1);
}

.scrollbar-container {
  margin: 0;

  background-color: #ffffff;
}

.scrollbar-thumb {
  background-color: #a16fed !important;
}

.scrollbar-thumb {
  height: 40px !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: .6;
}
