.show-nft-btn {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  height: 2.8em;
  padding: .35em;
  padding-right: 1.2em;
  padding-left: 3.3em;
  border: none;
  border-radius: 10em;

  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  letter-spacing: .05em;

  color: #ffffff;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  box-shadow: 0 0 1.6em rgba(183, 33, 255,.3),0 0 1.6em hsla(191, 98%, 56%, .3);

  cursor: pointer;
  transition: all .6s cubic-bezier(.23, 1, .320, 1);
}

.show-nft-btn .icon {
  position: absolute;
  left: .3em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
  border-radius: 10em;

  background: #ffffff;

  transition: all .6s cubic-bezier(.23, 1, .320, 1);
}

.show-nft-btn:hover .icon {
  width: calc(100% - .6em);
}

.show-nft-btn .icon svg {
  width: 3.1em;

  color: #b721ff;

  transition: transform .3s;
}

.show-nft-btn:hover .icon svg {
  transform: translateX(.1em);
}

.show-nft-btn:active .icon {
  transform: scale(.9);
}
