.comments-btn {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  height: 2.8em;
  padding: .35em;
  padding-right: 3.3em;
  padding-left: 1.2em;
  border: none;
  border-radius: .9em;

  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  letter-spacing: .05em;

  color: #ffffff;
  background: #a370f0;
  box-shadow: inset 0 0 1.6em -.6em #714da6;

  cursor: pointer;
}

.comments-btn .icon {
  position: absolute;
  right: .3em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.2em;
  height: 2.2em;
  margin-left: 1em;
  border-radius: .7em;

  background: #ffffff;
  box-shadow: .1em .1em .6em .2em #7b52b9;

  transition: all .3s;
}

.comments-btn:hover .icon {
  width: calc(100% - .6em);
}

.comments-btn .icon svg {
  width: 3.1em;

  color: #7b52b9;

  transition: transform .3s;
}

.comments-btn:hover .icon svg {
  transform: translateX(.1em);
}

.comments-btn:active .icon {
  transform: scale(.95);
}
