.search-bar__input-wrapper {
  position: relative;

  caret-color: black;
}

.search-bar__input {
  width: 400px;
  padding-right: 55px;

  font-size: 18px;
}

.search-bar__search-btn {
  margin-left: 1rem;

  font-size: 18px;

  background-color: #2081e2;
}

.search-bar__search-btn:hover {
  color: #2081e2;
  background-color: #ffffff;
}

.search-bar__reset-btn {
  position: absolute;
  top: 50%;
  right: 10px;

  color: #2081e2;

  transform: translateY(-50%);
}

@media (max-width: 550px) {
  .search-bar__input {
    width: 300px;
    padding-right: 0;
  }

  .search-bar__input::placeholder {
    font-size: 0;
  }
}

@media (max-width: 450px) {
  .search-bar__group {
    display: flex;
    flex-direction: column;
  }

  .search-bar__search-btn-click {
    margin-top: 20px;
    margin-left: 0;
  }
}
