.header {
  display: flex;
  align-items: stretch;

  background: repeating-linear-gradient(45deg, #ffffff,#0050fc43 20px, #0684fa43 20px,#0684fa43 40px);
}

.navbar-toggler.collapsed {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;

  border: 2px solid #000000;
}

.header {
  padding-left: 15px;
}

.header__avatar {
  width: 70px;
  height: 70px;

  background-image: url(assets/my-avatar.jpg);
}

.header__title {
  position: relative;
  left: -15px;

  font-size: 55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__banner {
  position: absolute;
  top: 40px;
  right: 20px;
}

.header__nav-link {
  display: inline-block;

  margin-top: 30px;

  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 0;
  text-decoration: none;

  color: #0050fc;
}

@media (max-width: 800px) {
  .header {
    padding-right: 27px;
  }

  .header__banner {
    position: static;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;

    padding-right: 0;

    text-align: center;
  }

  .header__nav {
    align-items: center;
  }

  .header__brand {
    margin-right: 0;
  }

  .header__title {
    margin-top: 20px;
    padding-right: 0;
  }
}
